<!DOCTYPE html>
<html>
	<body>
		<p>
			<form action = 'submit'>
				<input type='text' name='role' />
				<input type='submit' name='submit' />
			</form>
		</p>
		<p>
			<%= @message %>
		</p>
	</body>
</html>